<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Keene's Wiki</title>
</head>

<body>
  <a href="/" class="main-title">
    Keene's Wiki
  </a>

  <div class="login-area">
    {% if user %}
      {% if path %}
        <a class="login-link" href="/_history{{path}}">history</a>
        |
        <a class="login-link" href="/_edit{{path}}">edit</a>, 
      {% endif %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

